@charset "UTF-8";
/*Variables*/
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0; }

/*Header*/
header {
  background-color: black; }

.header__nav {
  font-size: 0.8rem;
  margin-top: 1vh; }

@media (min-width: 1000px) {
  .header__nav {
    font-size: 1.1rem; } }

/*Footer*/
footer {
  background-color: black;
  color: white; }

footer p {
  margin: 0px; }

/*Paginación*/
.pagination__class {
  background-color: black;
  margin-bottom: 0px;
  padding-top: 2vh;
  padding-bottom: 2vh; }

/***************************INDEX.HTML***************************/
/*Main*/
.main__text {
  background-image: url("../imagenes/auriStinger.jpg");
  height: 70vh; }

.main__text-text {
  font-size: calc(1.925rem + 8.1vw);
  width: 100%;
  padding-left: 15%;
  z-index: 2;
  padding-top: 10vh;
  color: white;
  font-family: 'Staatliches', cursive; }
  @media (min-width: 1200px) {
    .main__text-text {
      font-size: 8rem; } }

.images__title {
  font-size: calc(1.275rem + 0.3vw); }
  @media (min-width: 1200px) {
    .images__title {
      font-size: 1.5rem; } }

/***************************TECLADOS.HTML***************************/
/*Texts styles*/
.producto-pos1__text, .producto-pos2__text, .producto-pos3__text {
  color: white; }
  .producto-pos1__text h1, .producto-pos2__text h1, .producto-pos3__text h1 {
    font-size: calc(1.275rem + 0.3vw);
    font-family: 'Staatliches', cursive; }
    @media (min-width: 1200px) {
      .producto-pos1__text h1, .producto-pos2__text h1, .producto-pos3__text h1 {
        font-size: 1.5rem; } }
  .producto-pos1__text p, .producto-pos2__text p, .producto-pos3__text p {
    padding-bottom: 0px; }

/*Positions*/
.producto-pos1 {
  position: absolute;
  top: 25vh;
  right: 10vw; }

.producto-pos2 {
  position: absolute;
  top: 50vh;
  left: 15vw; }

.producto-pos3 {
  position: absolute;
  top: 75vh;
  left: 15vw; }

@media (min-width: 505px) {
  .producto-pos2 {
    position: absolute;
    top: 58vh; }
  .producto-pos3 {
    position: absolute;
    top: 83vh; } }

@media (min-width: 575px) {
  .producto-pos2 {
    position: absolute;
    top: 64vh; }
  .producto-pos3 {
    position: absolute;
    top: 97vh; } }

@media (min-width: 630px) {
  .producto-pos2 {
    position: absolute;
    top: 70vh; }
  .producto-pos3 {
    position: absolute;
    top: 107vh; } }

@media (min-width: 768px) {
  .producto-pos1__text h1, .producto-pos2__text h1, .producto-pos3__text h1 {
    font-size: calc(1.275rem + 0.3vw); } }
  @media (min-width: 768px) and (min-width: 1200px) {
    .producto-pos1__text h1, .producto-pos2__text h1, .producto-pos3__text h1 {
      font-size: 1.5rem; } }

@media (min-width: 768px) {
  .producto-pos1__text p, .producto-pos2__text p, .producto-pos3__text p {
    font-size: 1rem; }
  .producto-pos2 {
    position: absolute;
    top: 75vh; }
  .producto-pos3 {
    position: absolute;
    top: 120vh; } }

@media (min-width: 930px) {
  .producto-pos2 {
    position: absolute;
    top: 82vh; }
  .producto-pos3 {
    position: absolute;
    top: 128vh; } }

@media (min-width: 1024px) {
  .producto-pos1__text h1, .producto-pos2__text h1, .producto-pos3__text h1 {
    font-size: 2rem; }
  .producto-pos1__text p, .producto-pos2__text p, .producto-pos3__text p {
    font-size: 1.5rem; }
  .producto-pos2 {
    position: absolute;
    top: 85vh; }
  .producto-pos3 {
    position: absolute;
    top: 150vh; } }

@media (min-width: 1200px) {
  .producto-pos2 {
    position: absolute;
    top: 98vh; }
  .producto-pos3 {
    position: absolute;
    top: 165vh; } }

@media (min-width: 1370px) {
  .producto-pos2 {
    position: absolute;
    top: 130vh; }
  .producto-pos3 {
    position: absolute;
    top: 220vh; } }

/***************************AURICULARES.HTML***************************/
/*Texts styles*/
.producto-pos4__text, .producto-pos5__text, .producto-pos6__text {
  color: white; }
  .producto-pos4__text h1, .producto-pos5__text h1, .producto-pos6__text h1 {
    font-size: 1rem;
    font-family: 'Staatliches', cursive; }
  .producto-pos4__text p, .producto-pos5__text p, .producto-pos6__text p {
    padding-bottom: 0px; }
  .producto-pos4__text div, .producto-pos5__text div, .producto-pos6__text div {
    margin-top: 0.5vh;
    border: 1px black solid;
    display: inline;
    padding: 3px 3px;
    background-color: #a20520; }

/*Positions*/
.producto-pos4 {
  position: absolute;
  top: 20%;
  left: 15%; }

.producto-pos5 {
  position: absolute;
  top: 50%;
  left: 33%; }

.producto-pos5__text h1 {
  text-align: center; }

.producto-pos5__text .btn {
  margin-left: 33%; }

.producto-pos6 {
  position: absolute;
  top: 70%;
  left: 60%; }

@media (min-width: 460px) {
  .producto-pos6 {
    position: absolute;
    top: 80vh; } }

@media (min-width: 540px) {
  .producto-pos5 {
    position: absolute;
    top: 65%; }
  .producto-pos6 {
    position: absolute;
    top: 95vh; } }

@media (min-width: 640px) {
  .producto-pos6 {
    position: absolute;
    top: 110vh; } }

@media (min-width: 768px) {
  .producto-pos4__text h1, .producto-pos5__text h1, .producto-pos6__text h1 {
    font-size: 1.5rem; }
  .producto-pos4__text p, .producto-pos5__text p, .producto-pos6__text p {
    font-size: 1rem; }
  .producto-pos5 {
    position: absolute;
    top: 80vh; }
  .producto-pos6 {
    position: absolute;
    top: 130vh; } }

@media (min-width: 1024px) {
  .producto-pos4__text h1, .producto-pos5__text h1, .producto-pos6__text h1 {
    font-size: 2rem; }
  .producto-pos4__text p, .producto-pos5__text p, .producto-pos6__text p {
    font-size: 1.5rem; }
  .producto-pos5 {
    position: absolute;
    top: 90vh; }
  .producto-pos6 {
    position: absolute;
    top: 170vh; } }

@media (min-width: 1400px) {
  .producto-pos5 {
    position: absolute;
    top: 110vh; }
  .producto-pos6 {
    position: absolute;
    top: 200vh; } }

@media (min-width: 1640px) {
  .producto-pos5 {
    position: absolute;
    top: 120vh; }
  .producto-pos6 {
    position: absolute;
    top: 220vh; } }

/***************************ESPORTS.HTML***************************/
.esports__main .esports__main-text {
  font-size: 0.9rem; }

.esports__main h1 {
  text-align: center; }

.esports__sec h2 {
  font-size: 1.4rem;
  text-align: center; }

.esports__sec p {
  font-size: 0.9rem;
  text-align: center; }

.esports__sec-logos {
  background-color: black;
  display: grid;
  grid-template-rows: 15vh 15vh 15vh 15vh 15vh 15vh 15vh;
  grid-template-columns: 20vw 20vw 20vw;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10vw; }

.esports__ter span {
  font-size: 1.3rem;
  text-align: center;
  display: block; }

.esports__ter .esports__ter-logos {
  display: inline-flex;
  flex-flow: column wrap;
  padding-left: 25vw; }

@media (min-width: 500px) {
  .esports__sec-logos {
    display: grid;
    grid-row-gap: 5vh;
    padding-top: 4vh; } }

@media (min-width: 680px) {
  .esports__sec-logos {
    padding-top: 5vh;
    padding-bottom: 5vh;
    grid-row-gap: 10vh; } }

@media (min-width: 768px) {
  .esports__sec-logos {
    display: grid;
    grid-template-rows: 25vh 25vh 25vh 25vh 25vh 25vh 25vh;
    grid-template-columns: 15vw 15vw 15vw; } }

@media (min-width: 1024px) {
  .esports__sec-logos {
    display: grid;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
    grid-template-columns: 10vw 10vw 10vw 10vw; } }

/***************************SOPORTE.HTML***************************/
.marcoRojo {
  width: 100%;
  height: 10vh;
  background-color: #a20520; }

.soporte__title {
  font-size: 2rem;
  color: black; }

.soporte__subtitle {
  font-size: 1.2rem;
  color: #353535; }

.subtitle__text {
  color: black; }
  .subtitle__text span {
    font-size: 1.1rem; }
  .subtitle__text p {
    font-size: 0.9rem;
    color: #353535; }

.marcoNegro {
  width: 100%;
  height: 7vh;
  background-color: black; }

.soporte__table {
  font-size: 0.8rem; }

@media (min-width: 768px) {
  .soporte {
    margin: 0px 15vw; } }

/***************************SOPORTECE.HTML***************************/
.soporte__form {
  margin: 0px 2vw; }
  .soporte__form h1 {
    font-size: 1.5rem; }
  .soporte__form span {
    font-size: 1.2rem; }

@media (min-width: 768px) {
  .soporte__form {
    margin: 0px 25vw; } }

/***************************INFORMACIONADICIONAL.HTML***************************/
.informacionAdicional__text {
  margin: 0px 2vw; }

.informacionAdicional__titulo {
  font-size: 1.5rem; }

.informacionAdicional__segundoTitulo {
  font-size: 1.5rem; }

.informacionAdicional__subtitulo {
  font-size: 1.1rem; }
  .informacionAdicional__subtitulo p, .informacionAdicional__subtitulo ul {
    font-size: 0.9rem; }
  .informacionAdicional__subtitulo li {
    font-size: 0.8rem; }

@media (min-width: 768px) {
  .informacionAdicional__text {
    margin: 0px 10vw; }
  .informacionAdicional__titulo {
    font-size: 2rem; }
  .informacionAdicional__segundoTitulo {
    font-size: 1.8rem; }
  .informacionAdicional__subtitulo {
    font-size: 1.4rem; }
    .informacionAdicional__subtitulo p, .informacionAdicional__subtitulo ul {
      font-size: 1.2rem; }
    .informacionAdicional__subtitulo li {
      font-size: 1.1rem; } }
