@charset "UTF-8";
/*TAMAÑOS (w-425px, w-768px, w-992px y w-1200px)*/
/*Variables*/
body {
  font-size: 62.5%;
  margin: 0; }

/*Header*/
header {
  background-color: black; }

.header__nav {
  font-size: 1.1rem;
  margin-top: 1vh; }

/*Footer*/
footer {
  background-color: black;
  color: white; }

footer p {
  margin: 0px; }

/*Paginación*/
.pagination__class {
  background-color: black;
  margin-bottom: 0px;
  padding-top: 2vh;
  padding-bottom: 2vh; }

/***************************INDEX.HTML***************************/
/*Main*/
.main__text {
  color: white;
  position: absolute;
  top: 28vh;
  right: 18%;
  font-size: 2.3em;
  z-index: 1;
  width: 25vw; }

@media (min-width: 768px) {
  .main__text {
    position: absolute;
    top: 27vh;
    right: 18%;
    font-size: 2.5rem;
    z-index: 1;
    width: 28vw; } }

@media (min-width: 1000px) {
  .main__text {
    position: absolute;
    top: 15vh;
    right: 12%;
    font-size: 3.6rem;
    width: 30vw; } }

/*Images*/
@media (min-width: 1024px) {
  .images {
    margin-left: 4.3vw; }
  .images__title {
    font-size: 2.5em;
    margin-right: 8vw; } }

.images__title {
  font-size: 2em; }

/***************************AURICULARES.HTML***************************/
/*Texts styles*/
.auriculares1__text, .auriculares2__text, .auriculares3__text {
  color: white; }
  .auriculares1__text h1, .auriculares2__text h1, .auriculares3__text h1 {
    font-size: 1rem; }
  .auriculares1__text p, .auriculares2__text p, .auriculares3__text p {
    padding-bottom: 0px; }
  .auriculares1__text div, .auriculares2__text div, .auriculares3__text div {
    margin-top: 0.5vh;
    border: 1px black solid;
    display: inline;
    padding: 3px 3px;
    background-color: #a20520; }

/*Positions*/
.auriculares1 {
  position: absolute;
  left: 15vh;
  top: 30vh; }

.auriculares2 {
  position: absolute;
  left: 15vh;
  top: 60vh; }

.auriculares3 {
  position: absolute;
  left: 15vh;
  top: 90vh; }

@media (min-width: 768px) {
  .auriculares1__text h1, .auriculares2__text h1, .auriculares3__text h1 {
    font-size: 1.5rem; }
  .auriculares1__text p, .auriculares2__text p, .auriculares3__text p {
    font-size: 1rem; }
  .auriculares2 {
    position: absolute;
    left: 15vh;
    top: 80vh; }
  .auriculares3 {
    position: absolute;
    left: 15vh;
    top: 140vh; } }

@media (min-width: 1024px) {
  .auriculares1__text h1, .auriculares2__text h1, .auriculares3__text h1 {
    font-size: 2rem; }
  .auriculares1__text p, .auriculares2__text p, .auriculares3__text p {
    font-size: 1.5rem; }
  .auriculares2 {
    position: absolute;
    left: 15vh;
    top: 90vh; }
  .auriculares3 {
    position: absolute;
    left: 15vh;
    top: 170vh; } }

/***************************TECLADOS.HTML***************************/
/*Texts styles*/
.teclados1__text, .teclados2__text, .teclados3__text {
  color: white; }
  .teclados1__text h1, .teclados2__text h1, .teclados3__text h1 {
    font-size: 1rem; }
  .teclados1__text p, .teclados2__text p, .teclados3__text p {
    padding-bottom: 0px; }

/*Positions*/
.teclados1 {
  position: absolute;
  top: 25vh;
  right: 10vw; }

.teclados2 {
  position: absolute;
  top: 50vh;
  left: 15vw; }

.teclados3 {
  position: absolute;
  top: 75vh;
  left: 15vw; }

@media (min-width: 768px) {
  .teclados1__text h1, .teclados2__text h1, .teclados3__text h1 {
    font-size: 1.5rem; }
  .teclados1__text p, .teclados2__text p, .teclados3__text p {
    font-size: 1rem; }
  .teclados2 {
    position: absolute;
    top: 75vh; }
  .teclados3 {
    position: absolute;
    top: 120vh; } }

@media (min-width: 1024px) {
  .teclados1__text h1, .teclados2__text h1, .teclados3__text h1 {
    font-size: 2rem; }
  .teclados1__text p, .teclados2__text p, .teclados3__text p {
    font-size: 1.5rem; }
  .teclados2 {
    position: absolute;
    top: 85vh; }
  .teclados3 {
    position: absolute;
    top: 150vh; } }

/***************************ESPORTS.HTML***************************/
.esports__main .esports__main-text {
  font-size: 0.9rem; }

.esports__main h1 {
  text-align: center; }

.esports__sec h2 {
  font-size: 1.4rem;
  text-align: center; }

.esports__sec p {
  font-size: 0.9rem; }

.esports__sec-logos {
  background-color: black;
  display: grid;
  grid-template-rows: 15vh 15vh 15vh 15vh 15vh 15vh 15vh;
  grid-template-columns: 20vw 20vw 20vw;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10vw; }

.esports__ter span {
  font-size: 1.3rem;
  text-align: center;
  display: block; }

.esports__ter .esports__ter-logos {
  display: inline-flex;
  flex-flow: column wrap;
  padding-left: 25vw; }

@media (min-width: 768px) {
  .esports__sec-logos {
    display: grid;
    grid-template-rows: 25vh 25vh 25vh 25vh 25vh 25vh 25vh;
    grid-template-columns: 15vw 15vw 15vw; } }

@media (min-width: 1024px) {
  .esports__sec-logos {
    display: grid;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
    grid-template-columns: 10vw 10vw 10vw 10vw; }
  .esports__ter-logos {
    display: inline-flex;
    flex-flow: row wrap;
    align-content: center; } }

/***************************SOPORTE.HTML***************************/
.marcoRojo {
  width: 100%;
  height: 10vh;
  background-color: #a20520; }

.soporte__title {
  font-size: 2rem;
  color: black; }

.soporte__subtitle {
  font-size: 1.2rem;
  color: #353535; }

.subtitle__text {
  color: black; }
  .subtitle__text span {
    font-size: 1.1rem; }
  .subtitle__text p {
    font-size: 0.9rem;
    color: #353535; }

.marcoNegro {
  width: 100%;
  height: 7vh;
  background-color: black; }

.soporte__table {
  font-size: 0.8rem; }

@media (min-width: 768px) {
  .soporte {
    margin: 0px 15vw; } }

/***************************SOPORTECE.HTML***************************/
.soporte__form {
  margin: 0px 2vw; }
  .soporte__form h1 {
    font-size: 1.5rem; }
  .soporte__form span {
    font-size: 1.2rem; }

@media (min-width: 768px) {
  .soporte__form {
    margin: 0px 25vw; } }

/***************************INFORMACIONADICIONAL.HTML***************************/
.informacionAdicional__text {
  margin: 0px 2vw; }

.informacionAdicional__titulo {
  font-size: 1.5rem; }

.informacionAdicional__segundoTitulo {
  font-size: 1.5rem; }

.informacionAdicional__subtitulo {
  font-size: 1.1rem; }
  .informacionAdicional__subtitulo p, .informacionAdicional__subtitulo ul {
    font-size: 0.9rem; }
  .informacionAdicional__subtitulo li {
    font-size: 0.8rem; }

@media (min-width: 768px) {
  .informacionAdicional__text {
    margin: 0px 10vw; }
  .informacionAdicional__titulo {
    font-size: 2rem; }
  .informacionAdicional__segundoTitulo {
    font-size: 1.8rem; }
  .informacionAdicional__subtitulo {
    font-size: 1.4rem; }
    .informacionAdicional__subtitulo p, .informacionAdicional__subtitulo ul {
      font-size: 1.2rem; }
    .informacionAdicional__subtitulo li {
      font-size: 1.1rem; } }
